body{
    text-align: center;
}
.btn{
    width: 20vw;
    height: 20vw;
    border:5px solid black;
    border-radius: 20%;
    margin: 2.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: rgb(245, 125, 4);
}
.green{
    background-color: green;
}
.yellow{
    background-color:yellow;
}
.blue{
    background-color: blue;
}
.flash{
    background-color: aliceblue;
}
.userflash{
    background-color: greenyellow;
}
@media screen and (min-width: 600px) {
  .btn {
    width: 10vw;
    height: 10vw;
  }
}

    
